extensions:
	dravencms.database: Dravencms\Database\DI\DatabaseExtension
	nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
	nettrine.cache: Nettrine\Cache\DI\CacheExtension
	nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension
	nettrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension
	nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
	nettrine.orm: Nettrine\ORM\DI\OrmExtension
	nettrine.extensions.atlantic18: Nettrine\Extensions\Atlantic18\DI\Atlantic18BehaviorExtension

nettrine.dbal:
	debug:
		panel: %debugMode%

	connections:
		default:
			driver: %database.driver%
			host: %database.host%
			user: %database.user%
			password: %database.password%
			dbname: %database.dbname%
			port: %database.port%

nettrine.orm:
	managers:
		default:
			connection: default
                        lazyNativeObjects: true
			entityManagerDecoratorClass: Dravencms\Database\EntityManager
			defaultRepositoryClassName: Dravencms\Database\EntityRepository
			autoGenerateProxyClasses: %debugMode%
			mapping: []

nettrine.extensions.atlantic18:
    loggable: false
    sluggable: true
    softDeleteable: false
    treeable: true
    blameable: false
    timestampable: true
    translatable: false
    uploadable: false
    sortable: true
    ipTraceable: false

nettrine.cache: []
nettrine.migrations:
	table: "doctrine_migrations"
	directories:
		Migrations: "%appDir%/../migrations"
	versionsOrganization: "year"

decorator:
	Doctrine\Common\EventSubscriber:
		tags:
			- "nettrine.subscriber"
